@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: Inter, sans-serif;
  color: #fff;
}

body {
  background-color: #111;
}

header, footer {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin: 30px auto;
}

img, span {
  display: block;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1.75px;
}

hr {
  border: 0.7px solid #323131;
}

.uppercase_text {
  text-transform: uppercase;
}

.button {
  background-color: #DE2323;
  padding: 16px 32px;
  border-radius: 8px;
}

.big-margin {
  max-width: 1200px;
  margin: 100px auto;
}

.introduction_list {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.introduction_block {
  background-color: #1C1C1C;
  width: 23%;
  height: 400px;
  padding: 1em;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.introduction_title {
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
}
.introduction_icon {
  margin: 35px auto;
}
.introduction_text {
  margin-top: auto;
}

.statistics {
  position: relative;
  height: 620px;
  max-width: 1920px;
  margin: 100px auto;
  background-image: url("/assets/img/line.png"), url("/assets/img/fill-line.png");
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}
.statistics_wrapper {
  max-width: 1200px;
  margin: auto;
}
.statistics_block1 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title circle" "text circle";
  -ms-grid-columns: 55% 30%;
  grid-template-columns: 55% 30%;
  -ms-grid-rows: 150px 150px;
  grid-template-rows: 150px 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.statistics_block1 .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}
.statistics_block1 .text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  width: 70%;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.5px;
}
.statistics_block1 .circle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: circle;
  height: 340px;
  width: 340px;
  border-radius: 100%;
  background-color: #50CE61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics_block1 .circle_text {
  width: 100%;
}
.statistics_block1 .circle_text span {
  text-align: center;
}
.statistics_block1 .circle .circle_text_percent {
  font-size: 75px;
}
.statistics_block1 .circle .circle_text_info {
  width: 60%;
  margin: auto;
}
.statistics_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box1 {
  height: 45px;
  width: 230px;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.box1_info {
  position: absolute;
  bottom: 0;
  width: 110px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1em;
}
.box1_point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid #50CE61;
  border-radius: 100%;
  top: -25px;
  left: -8px;
}

.box2 {
  height: 85px;
  width: 220px;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.box2_info {
  position: absolute;
  bottom: 0;
  width: 110px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1em;
}
.box2_point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid #50CE61;
  border-radius: 100%;
  top: -26px;
  left: -8px;
}

.box3 {
  height: 135px;
  width: 250px;
  position: relative;
  border-left: 0.5px solid #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.box3_info {
  position: absolute;
  bottom: 0;
  width: 150px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1em;
}
.box3_point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid #50CE61;
  border-radius: 100%;
  top: -30px;
  left: -8px;
}

.box4 {
  height: 200px;
  width: 200px;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.box4_info {
  position: absolute;
  bottom: 0;
  width: 150px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 1em;
}
.box4_point {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid #50CE61;
  border-radius: 100%;
  top: -40px;
  left: -8px;
}

.seller_block1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "maintext image" "secondarytext image";
  -ms-grid-columns: 55% 30%;
  grid-template-columns: 55% 30%;
  -ms-grid-rows: 50px 2em 120px;
  grid-template-rows: 50px 120px;
  grid-row-gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.seller_block1 h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: maintext;
}
.seller_block1 span {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: secondarytext;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
}
.seller_block1 img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: image;
}
.seller_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.seller_advantage {
  position: relative;
  width: 15%;
  height: 180px;
  padding: 1em;
  border: 1px solid #323131;
}
.seller_advantage h4 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
}
.seller_advantage span {
  position: absolute;
  bottom: 1em;
  color: #646363;
}
.seller_buttons {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.seller_buttons a {
  display: block;
}

.faq h2 {
  margin-bottom: 35px;
}
.faq_item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.faq_last_item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.faq_content {
  width: 95%;
  color: #DBD9D9;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
  display: none;
}
._clicked .faq_content {
  display: block;
}
.faq_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
.faq_question h4 {
  font-size: 18px;
  font-weight: 500;
}

.centralized-footer {
  width: 100%;
  margin-bottom: 50px;
}
.centralized-footer img {
  margin: 25px auto;
}
.centralized-footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 35px auto;
}
.centralized-footer span {
  width: 50%;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.5px;
  margin: auto;
}

.links-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}
.links-footer_telegram, .links-footer_instagram {
  font-weight: 600;
}
.links-footer_privacy {
  color: #ADACAC;
  font-weight: 400;
}
.links-footer_instagram a {
  text-decoration: underline;
}